.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 0.3px solid rgb(224, 224, 224);
    padding-bottom: 2rem;
}

.info {
    margin-right: auto;
    margin-left: 2rem;
}

.info>h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.info>p {
    font-weight: 500;
    opacity: 0.7;
}

.heading {
    text-align: center;
    margin: 2rem;
}