.img {
    width: 100%;
    height: 15rem;
    border: 0.4px solid rgba(0, 0, 0, 0.212);
    margin-bottom: 1.2rem;
}

.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}